@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

#modebar-aaebbb {
  display: none;
}
.js-plotly-plot .plotly .ease-bg {
  display: none;
}

.streamlit-expander button{
  border-color: white ;
  color: #F2AA4CFF;
  transition: 0.7s ease;
}
.streamlit-expander button:hover{
  border-color: rgb(255, 255, 255) ;
  color: rgb(255, 255, 255);
  /* background-color: green; */
}

/* .streamlit-expander button:focus{
  box-shadow: rgb(0 128 0 / 50%)  0px 0.2rem 0px 0px;
  outline: none;
  color: rgb(255, 255, 255) !important;
} */

/* Title */
/* .css-10trblm {

} */

.h1 {
  font-family: 'Roboto', sans-serif;
}

.css-1qspbsc {
  display: none;
}

.css-18e3th9 {
  padding-top: 0rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.css-w6c5rr p {
  color: indianred;
  font-family: 'Roboto', sans-serif;
}

.h3 {
  font-family: 'Roboto', sans-serif;
}

.error_msg {
  color: indianred;
  font-family: 'Roboto', sans-serif;
}
