@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

#modebar-aaebbb {
  display: none;
}
.js-plotly-plot .plotly .ease-bg {
  display: none;
}

.streamlit-expander button {
  border-color: white;
  color: black;
  transition: 0.7s ease;
}
/* .streamlit-expander button:hover {
  
} */

/* .streamlit-expander button:focus{
  box-shadow: rgb(0 128 0 / 50%)  0px 0.2rem 0px 0px;
  outline: none;
  color: rgb(255, 255, 255) !important;
} */

/* Title */
/* .css-10trblm {

} */

.h1 {
  font-family: "Roboto", sans-serif;
}

/* Nav Dark */
.css-1qspbsc {
  display: none;
}

/* Nav Light */
.css-18ni7ap {
  display: none;
}

.css-18e3th9 {
  padding: 0rem 5rem 0rem 5rem;
}

.css-w6c5rr p {
  color: indianred;
  font-family: "Roboto", sans-serif;
  /* text-align: center; */
}

.h3 {
  font-family: "Roboto", sans-serif;
}

.error_msg {
  color: indianred;
  font-family: "Roboto", sans-serif;
}

.row-widget stButton {
  text-align: center;
}

.css-1u1d8pp {
  height: 10rem;
}

.css-1u1d8pp {
  gap: 2rem;
}

.css-q6aish {
  font-size: 1rem;
}

.note {
  margin: 1.7rem 0rem 0rem 5rem;
  font-size: 20px;
}

.css-1ec096l {
  height: 5rem;
  overflow: scroll;
}

.st-cd {
  font-size: 17px;
  font-weight: 600;
}

.css-6kekos {
  width: 10.6rem;
}

css-11kb53j.e1tzin5v0 {
  flex-direction: "row";
}

h3 {
  padding: 0px 0px 0.2rem 0px;
}

.css-81oif8 {
  font-size: 16px;
}

/* btn class [theme] */
.css-1yx2edd {
  width: 10rem;
}

.css-4utlqy {
  font-size: 15px;
}
